<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<h2>This is the index of the home page.</h2>

</body>
</html>